<% provide(:title, "about") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>About</h1>
    <p>
    This website was created for the purpose of  the RAD assignment 2
    </p>
    <strong><p> created by </p></strong>
    <p> Steven Hang - s3433638 </p> 
    <p> Chen Wei - s3499257 </p> 
	<strong><p>our bitbucket URL</p></strong>
	<a href = "https://bitbucket.org/Jianzi_Jane/rad18_assign_2_group_s3433638_s3499257">https://bitbucket.org/Jianzi_Jane/rad18_assign_2_group_s3433638_s3499257</a>
    <br><br>
	<strong><p>our heroku URL</p></strong>
	<a href = "https://whispering-falls-81251.herokuapp.com/">https://whispering-falls-81251.herokuapp.com/</a>
  </body>
</html>
