// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.commentSection {
	
	margin-top: 25px;
}


.comm_list {
	margin-top: 30px;
}


.link_to_next {
	margin-top: 50px;
}
