 <footer class="footer">
      <div class="container-fluid">
        <nav>
          <ul id="menu">
            <a href = https://github.com/pigfly/RMIT-CSIT-RAD/tree/master/2018_S1/assignment2 >API</a>
            <li><%= link_to "About", about_path %></li>
          </ul>
        </nav>
      </div>
      </div>
    </footer>
